<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="triangle" class="com.BeanPostProcessor.Triangle">
	<property name="pointA" ref="zeroPoint"  />
	<property name="pointB" ref="firstPoint"  />
	<property name="pointC" ref="secondPoint"  />
	</bean>
	<bean id="zeroPoint" class="com.BeanPostProcessor.Point">
	<property name="x"  value="${pointA.pointX}"/>
	<property name="y"  value="${pointA.pointY}"/>
	</bean>
	<bean id="firstPoint" class="com.BeanPostProcessor.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>
	</bean>
    <bean id="secondPoint" class="com.BeanPostProcessor.Point">
	<property name="x" value="0"/>
	<property name="y" value="20"/>
	</bean>
	<bean class="com.BeanPostProcessor.DisplayNameBeanPostProcessor" />
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
	<property name="locations" value="pointConfig.properties"/>
	</bean>
</beans>